/* Hero content */
.hero {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1383px;
    margin: auto;
}

.hero .left {
    display: flex;
    width: 100%;
    max-width: 550px;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
}

.hero .right img{
    width: 100%;
    max-width: 500px;
}

.hero .logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

/* Main text information*/

.main-information h1 {

    font-size: 7.2rem;
    font-weight: 700 !important;
    margin-top: 25%;
}

.main-information p {

    color: var(--mediumGray);
    padding: 40px 0;
    font-size: 1.8rem;
    width: 80%;
    line-height: 150%;
}

/* buttons */
.default-button {

    font-size: 1.5rem;
    padding: 15px 30px;
    border: solid;
    background: none;
    border-radius: 15px;
    cursor: pointer;
}

#learn-more {

    color: var(--almostWhite);
    background-color: var(--almostBlack);
}

#learn-more:hover {

    border-width: 2px;
    border-color: var(--mediumGray);
    color: var(--mediumGray);
    background-color: var(--almostWhite);
}
