/* Container */
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1600px;
    padding: 30px 0px 60px;
    margin: auto;
}


header .container nav{
    display: inline-flex;
    gap: 60px;
    align-items: center;
}

/* Login */
.login-area {
    display: inline-flex;
    align-items: center;
    gap: 50px;
    color: var(--mediumGray);
}

.login-area a {
    font-size: 1.5rem;
}

#register {
    border-color: var(--mediumGray);
    padding: 12px 21px;
    border-width: 2px;
    color: var(--mediumGray);
}

#register:hover {
    color: var(--almostBlack);
}

/* Navigation */
.navigation-bar {
    display: inline-flex;
    align-items: center;
    gap: 50px;
    color: var(--mediumGray);
}

.navigation-bar a{
    font-size: 1.5rem;
}

/* Naviagation -> dropdown */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown button {

    font-size: 1.5rem;
    border: none;
    background: none;
    border-radius: 12px;
    cursor: pointer;
    color: var(--mediumGray);

}

.dropdown button:hover {

    color: var(--almostBlack);
}

.dropdown .arrow {

    display: inline-flex;
    margin: 1px 11px;
    align-content: center;
}

.dropdown .arrow:hover {
    transition: 0.5s;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}

.dropdown:hover .content {
    display: block;
    overflow: auto;
}

.dropdown:hover .content #company{
    display:flex;
    flex-direction: column;
}

.dropdown .content {
    display: none; 
    position: absolute;
    padding: 14px 25px;
    border-radius: 10px;
    box-shadow: 2px 2px 40px #00000021;
}

.dropdown .content a{

    font-size: 1.5rem;
}

.dropdown .content li {
    padding: 5px;
    display: inline-flex;
    gap: 15px;
    margin-top: 5px;
}

.dropdown .content img {
    align-self: center;
}

#features {

    left: -58px;
    top: 38px;
}

#company {
    padding-left: 29px;
    padding-right: 34px;
    padding-top: 10px;
    left: -26px;
    top: 38px;
}
